# Python cache
__pycache__/
*.pyc

# Logs (pero no ignores .gitkeep)
logs/
!logs/.gitkeep

# Bases de datos (pero no ignores .gitkeep)
#src/DataBase/Data/*.db
!src/DataBase/Data/.gitkeep

# Archivos temporales (pero no ignores .gitkeep)
temp/
!temp/.gitkeep

# Binarios
bin/
*.exe
*.dll
!bin/.gitkeep

# Otros
salida.txt
